
.capability {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &.ltr {
    flex-direction: row-reverse;
  }

  &.rtl {
    flex-direction: row;
  }

  &.equal {
    .capability-column {
      flex-basis: 50%;
    }
  }

  .capability-column {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .capability-title {
    font-size: 45px;
    color: #000000;
  }

  .capability-subtitle {
    font-size: 20px;
    color: #374050;
    padding-top: 26px;
  }

  .capability-content {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1000px;
  }

  .capability-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;

    .capability-item {
      display: flex;
      flex-direction: column;
      max-width: 50%;
    }

    .capability-item-title {
      color: #3180fb;
      font-size: 21.3px;
      min-width: 250px;
    }

    .capability-item-tagline {
      color: #374050;
      font-size: 17.5px;
      padding-top: 13.3px;
      padding-bottom: 34.5px;
      padding-right: 33px;
      line-height: 1.43;
      min-width: 260px;
    }
  }
}
