.header-container {
  z-index: 250;
  height: 100px;
  background-color: white;
  padding: 0 150px;

  &.fall-under {
    position: fixed;
    top: 0;
    right: 150px;
    left: 150px;
    background-color: transparent;
    padding: 0;
  }
}

.menu-icon {
  cursor: pointer;
}
