.project {
  display: flex;

  .project-media {
    .project-image {
      max-width: 500px;
    }
  }

  .project-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;

      .project-name {
        font-size: 39px;
        font-weight: bold;
        color: #3c3d41;
        padding-bottom: 1px;
      }

      .project-tagline {
        font-size: 13px;
        font-weight: bold;
        color: #656b6f;
        text-transform: uppercase;
        padding-bottom: 25px;
      }

      .project-description {
        font-size: 22px;
        color: #656b6f;
        padding-bottom: 23px;
      }

      .project-list {
        padding-bottom: 22px;

        .list-title {
          font-size: 22px;
          color: #656b6f;
        }

        .list-item {
          font-size: 22px;
          font-style: italic;
          color: #3c3d41;

          &:after {
            content: ', ';
          }

          &:last-child:after {
            content: ''
          }
        }
      }
    }

}
