
.opening {
  text-align: center;
  margin: 0 auto;

  .opening-title {
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 22px;
    color: inherit;
  }

  .opening-subtitle {
    font-size: 22px;
    font-weight: normal;
    color: inherit;
  }
}
