
.opening {
  margin: 0 auto;

  .opening-title {
    font-size: 62px;
    font-weight: bold;
    letter-spacing: -2.38px;
    color: #3c3d41;
    margin: 0;
    padding-bottom: 26px;
  }

  .opening-subtitle {
    font-size: 24px;
    color: #656b6f;
    margin: 0;
    padding-bottom: 72px;
  }

  &.light {
    .opening-title {
      color: #FFFFFF;
    }

    .opening-subtitle {
      color: #FFFFFF;
    }
  }

  &.dark {
    .opening-title {
      color: #000000;
    }

    .opening-subtitle {
      color: #374050;
    }
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
