
.opening {
  text-align: center;
  margin: 0 auto;

  .opening-title {
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 12px;
  }

  .opening-subtitle {
    font-size: 22px;
    font-weight: normal;
  }

  &.light {
    .opening-title {
      color: #FFFFFF;
    }

    .opening-subtitle {
      color: #FFFFFF;
    }
  }

  &.dark {
    .opening-title {
      color: #000000;
    }

    .opening-subtitle {
      color: #374050;
    }
  }
}
