@import "../../styles/variables.scss";



.app-container {
  background-color: $grey;
  height: 100vh;
}

.side-menu {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 75px;
  background-color: $grey;


  .bm-item-list {
    overflow-y: hidden;
  }

  .menu-item {
    color: $white;
    font-size: $sidemenu-item-font-size;
    font-weight: bold;
    text-decoration: none;
  }

  .menu-footer {
    margin-top: 240px;
    color: $white;

    .menu-cta {
      padding: 10px 0;
    }
  }

  .menu-close {
    position: absolute;
    left: -25px;
    top: 350px;
    z-index: 100;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    opacity: 0;

    span {
      font-size: 25px;
      color: $green;
    }

    &.visible {
      opacity: 1;
    }
  }
}

.bm-burger-button {
  display: none;
}
