@import "../../styles/variables.scss";



.app-container {
  background-color: $grey;
}

.side-menu {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 75px;
  background-color: $grey;

  .menu-item {
    color: $white;
    font-size: $sidemenu-item-font-size;
    font-weight: bold;
    text-decoration: none;
  }

  .menu-footer {
    margin-top: 240px;
    color: $white;

    .menu-cta {
      padding: 10px 0;
    }
  }
}

.bm-burger-button {
  display: none;
}
