.green_heading {
    color: #2EC986;
}

.green_button {
    background: #2EC986;
    border-radius: 26px;
    width: 140px;
    height: 45px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.pink_heading {
    color: #C92E85;
}

.blue_heading {
    color: #3180fb;
}

.purple_heading {
    color: #A731FB;
}

.orange_heading {
    color: #FB9B31;
}

.light_blue_heading {
    color: #319BFB;
}

.top_about_us_heading {
    font-weight: 500;
    text-align: center;
    margin: 15vh auto 20px;
    font-size: 28px;
}

.top_about_us_heading_text {
    margin: 0 auto;;
    font-size: 38px;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    max-width: 721px;
}

.pixoul_section_heading {
    margin: 5rem auto;
}

.pixoul_section_heading h1 {
    font-weight: 500;
    text-align: center;
    font-size: 45px;
    margin: 20px auto;
    opacity: 0;
}

.pixoul_section_heading h2 {
    max-width: 1035px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    opacity: 0;
}

.pixoul_four_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pixoul_four_grid_item {
    width: 370px;
    margin: 4% 8%;
    position: relative;
    opacity: 0;
}

.pixoul_four_grid_item_img_container {
    position: relative;
    height: 155px;
}

.pixoul_four_grid_item_img_container img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    min-height: 50px
}

.pixoul_four_grid_item h3 {
    font-weight: 500;
    font-size: 25px;
    margin: 10px auto 5px;
}

.pixoul_four_grid_item h4 {
    font-weight: 300;
    font-size: 25px;
    margin-top: 0;
}

.about-map-row {
    transform: scale(0);
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
}

.about-map-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alex_devices_img {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 6rem;
}

.pixoul_adjustable_columns_item h3 {
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0 0 10px;
    line-height: 1.3;
}

.pixoul_adjustable_columns_item h4 {
    font-weight: 300;
    font-size: 1.4rem;
}

.pixel_button_section:before {
    clear: both;
}

.pixoul_button_section {
    transform: scale(0);
    margin: 3rem auto;
}

.pixoul_button_section button {
    margin: auto;
    display: block;
}

@keyframes textAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.about-title-animation-enter {
    animation-name: textAnimation;
    animation-delay: .05s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.about-text-animation-enter {
    animation-name: textAnimation;
    animation-delay: .55s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes imageAnimation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.about-image-animation-enter {
    animation-name: imageAnimation;
    animation-delay: .95s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.about-image-animation-enter-done {
    transform: scale(1)!important;
}

.about-title-animation-enter-done, .about-text-animation-enter-done {
    opacity: 1!important;
}

@media (max-width: 767px) {
    .pixoul_adjustable_column {
        padding: 0;
    }

    .pixoul_adjustable_columns_item {
        margin: 5px;
    }

    .top_about_us_heading_text {
        white-space: normal;
    }
}