.green_heading {
    color: #2EC986;
}

.green_button {
    background: #2EC986;
    border-radius: 26px;
    width: 140px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.page_down_button_centered img:hover {
    transform: translateY(5px);
	transition: transform 300ms;
}

.pink_heading {
    color: #C92E85;
}

.blue_heading {
    color: #3180fb;
}

.purple_heading {
    color: #A731FB;
}

.orange_heading {
    color: #FB9B31;
}

.light_blue_heading {
    color: #319BFB;
}

.top_about_us_heading {
    font-weight: 500;
    text-align: center;
    margin: 25vh auto 20px;
    font-size: 28px;
}

.top_about_us_heading_text {
    margin: 0 auto;;
    font-size: 38px;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    max-width: 721px;
}

.pixoul_section_heading {
    margin: 5rem auto;
}

.pixoul_section_heading h1 {
    font-weight: 500;
    text-align: center;
    font-size: 45px;
    margin: 20px auto;
    opacity: 0;
}

.pixoul_section_heading h2 {
    max-width: 1035px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    opacity: 0;
}

.about-value-row {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: 20vh auto;
}

.about-value-item {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 172px;
}

.about-value-item img {
    flex: 1;
    transform: scale(0.75);
}

.about-value-item  h3 {
    font-weight: 500;
    font-size: 19px;
    margin: 10px auto 5px;
}

.about-map-row {
    transform: scale(0);
    max-width: 50%;
    width: 90%;
    margin: 0 auto;
}

.about-map-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alex_devices_img {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 6rem;
}

.pixoul_adjustable_columns_item h3 {
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0 0 10px;
    line-height: 1.3;
}

.pixoul_adjustable_columns_item h4 {
    font-weight: 300;
    font-size: 1.4rem;
}

.pixel_button_section:before {
    clear: both;
}

.pixoul_button_section {
    transform: scale(0);
    margin: 3rem auto;
}

.pixoul_button_section button, .pixoul_button_section a {
    margin: auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@keyframes textAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.about-title-animation-enter {
    animation-name: textAnimation;
    animation-delay: .05s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.about-text-animation-enter {
    animation-name: textAnimation;
    animation-delay: .55s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes imageAnimation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.about-image-animation-enter {
    animation-name: imageAnimation;
    animation-delay: .95s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.about-image-animation-enter-done {
    transform: scale(1)!important;
}

.about-title-animation-enter-done, .about-text-animation-enter-done, 
.about-text-animation-exit-done, .about-title-animation-exit-done {
    opacity: 1!important;
}

.number-section {
    display: flex;
    width: 90%;
    margin: 48px auto;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
}

.number-item {
    padding: 12px 61px;
    width: 295px;
    text-align: center;
    border-right: 1px solid #979797;
}

.number-item .number {
    font-size: 65px;
    font-weight: 300;
}

.number-item:last-child {
    border: none;
}

.number-item p {
    font-size: 20px;
    font-weight: 300;
}

.number-item a {
    text-decoration: none;
    color: #374050;
    display: flex;
    justify-content: center;
}

.number-item a span {
    margin: 3px 0 0 5px;
}

@keyframes aboutPageButton {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.about-page-button-animation {
	animation-name: aboutPageButton;
	animation-duration: 1s;
	animation-delay: .8s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

@media (max-width: 1199px) {
    h1, h2, .pixoul_four_grid_item, .number-section  {
        opacity: 1!important;
    }
    .about-map-row, .pixoul_button_section {
        transform: scale(1);
    }
}

@media (max-width: 767px) {
    .pixoul_adjustable_column {
        padding: 0;
    }

    .pixoul_adjustable_columns_item {
        margin: 5px;
    }

    .top_about_us_heading_text {
        white-space: normal;
    }
    .number-item {
        border: none;
    }
    .about-value-row {
        justify-content: center;
    }
}