
$white: #FFFFFF;
$black: #000000;

$bg-primary: #f9fafc;
$bg-secondary: #dfdfdf;

.contact {
  padding-top: 190px;
  padding-bottom: 76px;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .contact-intro {
    padding-left: 10%;
    padding-right: 10%;
  }

  .join-team {
    .incentive-group {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 54px;
      padding-bottom: 60px;

      .incentive-list {
        list-style-image: url('./images/check.svg');

        .incentive-item {
          padding-left: 14px;
          padding-bottom: 7px;
          font-size: 24px;
          color: #656b6f;
        }
      }
    }

  }
  
  .form {

    .form-input, .form-textarea {
      display: block;
      width: 100%;
      height: auto;
      padding: 17px 0px 15px 18px;
      margin: 18px;
      font-size: 16px;
      color: #ffffff;
      background-color: rgba(60, 61, 65, 0.5);
      border-radius: 4.8px;
      box-sizing: border-box;

      &::placeholder {
        color: #ffffff;
      }
    }

    .form-action {
      padding-top: 36px;
      padding-bottom: 67px;
      display: flex;
      justify-content: flex-end;

      .form-button {
        margin-left: 45px;
      }
    }

    .form-file {
      display: none;
    }

  }

}

@media (max-width: 768px) {
  .contact {

  }
}
