
$white: #FFFFFF;
$black: #000000;

$bg-primary: #f9fafc;
$bg-secondary: #dfdfdf;

.contact {
  padding-top: 130px;
  padding-bottom: 74px;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .contact-intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 44px;
  }

  .join-team {
    .incentive-group {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;

      .incentive-list {
        list-style-image: url('./images/check.svg');

        &:first-child {
          margin-right: 50px;
        }

        .incentive-item {
          padding-left: 14px;
          padding-bottom: 7px;
          font-size: '1.5em';
          color: #656b6f;
        }
      }
    }

  }

}

@media (max-width: 768px) {
  .contact {
    .join-team {
      .incentive-group {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 51px;
        padding-top: 21px;

        .incentive-list{
          margin: 0px;
          .incentive-item {
            padding-bottom: 16px;
            font-size: '1em';
          }
        }
      }
    }
  }
}
