
.talent {
  .intro-section {
    background-image: radial-gradient(circle at 19% 22%, #f9f9f9, #f2f2f2);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 130px;
    overflow: hidden;

    .intro-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 50%;
      height: 100%;

      .intro-title {
        font-size: 62px;
        font-weight: bold;
        line-height: 1.06;
        letter-spacing: -2.38px;
        padding-bottom: 18px;
      }

      .intro-text {
         color: #656b6f;
         font-size: 24px;
         padding-bottom: 48px;
      }
    }

    .intro-media {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .featured-member {
    background-color: #ffffff;
    display: flex;
    padding-top: 130px;

    .member-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 96px;
      padding-right: 130px;

      .member-tagline {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.36px;
        text-transform: uppercase;
        color: #3c3d41;
        padding-bottom: 41px;
      }

      .member-title {
        font-size: 39px;
        letter-spacing: -0.61px;
        color: #3c3d41;
        padding-bottom: 16px;
      }

      .member-text {
        font-size: 22px;
        color: #656b6f;
        padding-bottom: 60px;
      }
    }

    .member-media {
      img {
        height: 100%;
      }
    }

  }

  .talent-timeline {
    background-color: #3c3d41;
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;

    .talent-main {
      padding-left: 180px;

      .talent-header {
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;

        .talent-title {
          font-size: 62px;
          font-weight: bold;
          letter-spacing: -2.38px;
          color: #ffffff;
        }

        .talent-description {
          font-size: 22px;
          color: #ffffff;
          opacity: 0.7;
        }
      }
    }

  }

  .client-work {
    background-color: #f9f9f9;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;


    .work-row {
      display: flex;
      flex-direction: row;
    }

    .work-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }


    .project-media {
      position: relative;

      .project-overlay {
        position: absolute;
        top: 2px;
        bottom: 10px;
        left: 4px;
        right: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(59, 61, 64, 0.5);
        opacity: 0;
        transition: opacity .6s;
        border-radius: 6px;

        &.hover {
          opacity: 1;
        }

        .project-name {
          font-size: 38.4px;
          font-weight: bold;
          letter-spacing: -1.2px;
          text-align: center;
          color: #ffffff;
          padding-bottom: 44px;
        }
      }
    }




  }
}
