
.media-carousel {
  margin: 100px;

  .media-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .media-caption {
      padding-top: 10px;
    }

    .media-image {
      margin: 0 auto;
      max-height: 500px;
    }
  }

  .media-action {
    cursor: pointer;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: black;
    opacity: 0.5;
    z-index: 100;
  }

  .slick-list {
    padding-bottom: 25px;
  }

  .slick-arrow {
    z-index: 100;

    &.slick-next {
      position: absolute;
      right: -50px;
    }

    &.slick-prev {
      position: absolute;
      left: -70px;
    }
  }
}
