
// Supported Style: normal, 400
@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Supported Style: normal, 400, italic
@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
 }

// Supported Style: bold, 700
@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// Supported Style: bold, italic, 700
@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

// Supported Style: light, 300
@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'AvenirNext';
  font-size: calc(12px + .35vw); /* Responsive base font size */
  line-height: calc(12px + 1.05vw); /* Responsive Vertical Rhythm */
}

h1 {
  font-size: 3.549em;
  line-height: calc(18px + 3.8vw); /* Responsive Vertical Rhythm */
}
h2 {
  font-size: 2.856em;
  line-height: calc(18px + 3vw); /* Responsive Vertical Rhythm */
}
h3 {
  font-size: 2.73em;
  line-height: calc(18px + 2.7vw); /* Responsive Vertical Rhythm */
}
h4 { font-size: 2.486em; }
h5 { font-size: 2.197em; }
h6 { font-size: 2.1em; }

h4, h5, h6 {
  line-height: calc(18px + 2.2vw); /* Responsive Vertical Rhythm */
}

h1, h2, h3, h4, h5, h6 {
  margin: calc(12px + 1.05vw) 0; /* Responsive margins */
}
