
.client-latest {
  padding: 50px 0;

  .latest-action {
    text-align: center;
    padding-top: 50px;
  }

  .client-card {
    text-align: center;
    text-decoration: none !important;

    .client-title {
      font-size: 20px;
      font-weight: normal;
      padding: 0;
      margin: 0;
    }

    .client-media {
      height: 261px;
      width: 350px;
    }
  }
}
