
.contact-form {
  margin-top: 30px;

  .contact-message{
    font-size: 25px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-button {
    margin-top: 15px;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  }

  .form-message {
    height: 170px;
  }

  .form-control {
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  }
}
