
.process {

  .matching {
    display: flex;
    padding-top: 50px;
    background-color: #f9f9f9;
    overflow: hidden;

    .matching-content {


      .matching-title {
        font-size: 62px;
        font-weight: bold;
        line-height: 1.06;
        letter-spacing: -2.38px;
        color: #3c3d41;
      }

      .matching-subtitle {
        font-size: 22px;
        line-height: 1.47;
        color: #656b6f;
      }
    }

    .matching-media {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-left: 100px;
      margin-bottom: -100px;
    }

    .candadite {
      position: relative;
      width: 185px;
      height: 185px;
      margin: 20px;

      .candadite-status {
        position: absolute;
        bottom: 20px;
        right: 5px;
      }
    }
  }

  .kpi-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
