
.process {

  .intro {
    background:linear-gradient(to bottom, rgba(65, 60, 60, 0.6), #3c3d41), url('./images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .play-button {
      padding-bottom: 22px;
      cursor: pointer;
      transition: opacity .4s;

      &:hover{
        opacity: 0.6;
      }
    }

    .feature {
      margin-right: 50px;
      margin-left: 50px;
    }
  }

  .project-steps {
    padding-top: 130px;
    padding-bottom: 130px;

    .project-lead {
      text-align: center;
      .project-tagline {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.36px;
        color: #276cf2;
        padding-bottom: 21px;
      }

      .project-title {
        font-size: 62px;
        font-weight: bold;
        letter-spacing: -2.38px;
        color: #3c3d41;
        padding-bottom: 155px;
      }
    }

    .steps-content {
      display: flex;

      .project-paragraph {
         width: 50%;
         font-size: 22px;
         color: #656b6f;

         &:first-child {
           padding-right: 50px;
         }
      }
    }
  }

  .matching {
    display: flex;
    padding-top: 50px;
    padding-left: 100px;
    background-color: #f9f9f9;
    overflow: hidden;

    .matching-content {
      padding-top: 100px;
      padding-bottom: 30px;

      .matching-title {
        font-size: 62px;
        font-weight: bold;
        line-height: 1.06;
        letter-spacing: -2.38px;
        color: #3c3d41;
      }

      .matching-subtitle {
        font-size: 22px;
        line-height: 1.47;
        color: #656b6f;
      }

      .feature {
        margin-right: 40px;
        margin-bottom: 70px;
      }
    }

    .matching-media {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: -10%;
    }

    .candadite {
      position: relative;
      width: 185px;
      height: 185px;
      margin: 20px;

      .candadite-status {
        position: absolute;
        bottom: 0px;
        right: 5px;
      }
    }
  }

  .kpi-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
