@import "../../styles/variables.scss";

.app-container {
  background-color: $grey;
  height: 100vh;
}

#page-wrap {
  background-color: $white;
  overflow: visible !important;
}

.side-menu {
  padding-top: $sidemenu-offset-top;
  padding-bottom: $sidemenu-offset-bottom;
  padding-left: $sidemenu-offset-left;
  background-color: $grey;


  .bm-item-list {
    overflow-y: hidden;
  }

  .menu-item {
    color: $white;
    font-size: $sidemenu-item-font-size;
    font-weight: bold;
    text-decoration: none;
  }

  .menu-footer {
    margin-top: 240px;
    color: $white;

    .menu-cta {
      padding: 26px 0;

      a {
        color: #3180fb;
        background-color: white;
      }
    }

    .list-item {
      padding-bottom: 11px;
      font-size: 15px;
      font-weight: normal;
    }

    .list-inline-item {
      a {
        color: inherit;
      }
    }
  }

  .menu-close {
    position: absolute;
    left: -25px;
    top: 50%;
    z-index: 100;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    background-color: white;

    span {
      font-size: 25px;
      color: $green;
    }

    &.visible {
      opacity: 1;
    }
  }
}

.bm-burger-button {
  display: none;
}
