
$menu-primary-bg: #3180fb;
$menu-secondary-bg: #374050;
$menu-item-font-size: 45px;

.menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .menu-container {
    height: 100%;
    width: 100%;

    &.background {
      background: linear-gradient(280deg, #{$menu-primary-bg} 50%, #{$menu-secondary-bg} 50%);
      color: #FFFFFF;

      a {
        color: #FFFFFF;
      }
    }

    .menu-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex: 1;

      &.lg-device {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
      }
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      list-style: none;


      .menu-item {
        font-size: #{$menu-item-font-size};

        .menu-link {
          text-decoration: none;
          transition: opacity 0.6s;

          &:hover {
            opacity: 0.7;

          }
        }
      }
    }

    .menu-footer {
      .menu-cta {
        margin: 20px 0;
      }


      .list-collection {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;

        &.light {
          .list-title {
            color: #FFFFFF;
          }

          .list-item {
            color: #FFFFFF;
          }
        }

        .list-title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 12px;
          margin-top: 30px;
        }

        .list-item {
          margin: 10px 0;
          font-size: 20px;
          font-weight: normal;

          a {
            text-decoration: none;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
              transition: opacity .6s;
            }
          }

        }
      }
    }

  }

}
