
.button {
  width: 117px;
  height: 47px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 15px;

  &.button-primary {
    background-color: #ffffff !important;
    color: #3180fb !important;
  }
}
