
.button {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 2.4px;
  border-radius: 48px;
  padding: 1.583em 3.75em;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
    transition: opacity .6s;
  }

  &.button-primary {
    background-color: #276CF2;
    color: #FFFFFF;
    border: solid 1px #276CF2;

    &.button-outline {
      color: #276CF2;
    }
  }

  &.button-secondary {
    background-color: #4E4F54;
    color: #FFFFFF;
    border: solid 1px #4E4F54;

    &.button-outline {
      background-color: transparent;
    }
  }

  &.button-light {
    background-color: #3180fb;
    color: #FFFFFF;
    border: solid 1px #dddddd;

    &.button-outline {
      background-color: transition;
      color: #3c3d41;
    }
  }

  &.button-outline {
    background-color: transparent;
  }

  &.button-block {
    display: block;
    width: 100%;
  }
}
