
.button {
  width: 117px;
  height: 47px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 15px;
  display: block;
  margin: 5px 0;
  cursor: pointer;

  &.button-primary {
    background-color: #ffffff !important;
    color: #3180fb !important;

    &:hover {
      opacity: 0.7;
      transition: opacity .6s;
    }
  }
}
