html, body, #root {
  margin: 0;
  padding: 0;
}


.gutters {
  padding-left: 150px;
  padding-right: 150px;
}

.button-group {
  display: flex;
  justify-content: space-between;

  .button {
    margin-right: 45px;
  }
}

@media (max-width: 768px) {
  .gutters {
    padding-left: 16px;
    padding-right: 16px;
  }
}
