html, body, #root {
  margin: 0;
  padding: 0;
}

.gutters {
  padding-left: 130px;
  padding-right: 130px;
}

.button-group {
  display: flex;
  justify-content: space-between;

  .button {
    margin-right: 45px;
  }
}

@media (max-width: 768px) {
  .gutters {
    padding-left: 30px;
    padding-right: 30px;
  }

  .button-group {
    flex-direction: column;
    .button {
      margin-right: 0px;
      margin-top: 22.5px;
      margin-bottom: 22.5px;
    }
  }
}
