/* Hero Component SCSS */
$white: #FFFFFF;
$black: #000000;
$blue: #3180fb;

.hero {
  display: flex;
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  //Core classes
  .hero-header,
  .hero-content,
  .hero-footer {
    z-index: 0;
  }

  .hero-content {
    max-width: 50%;
  }

  .hero-footer {
    display: flex;
  }

  .hero-text {
    font-size: 45px;
    font-weight: normal;

    &.xl-text {
      font-size: 85px;
    }

    &.lg-text {
      font-size: 65px;
    }

    &.md-text {
      font-size: 45px;
    }

    &.sm-text {
      font-size: 22px;
    }

    &.bold-text {
      font-weight: bold;
    }
  }

  .hero-action {
    cursor: pointer;
  }

  //Theme classes
  &.light {
    color: $white;

    .hero-icon {
      color: $white;
    }
  }

  &.dark {
    color: $black;

    .hero-icon {
      color: $blue;
    }
  }

  &.center {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 134px;

    .hero-header, .hero-content, .hero-footer {
      flex-direction: column;
    }

    .hero-text, .hero-tagline, .hero-media, .hero-action {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.left {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .hero-content {
      display: flex;
      flex-direction: column;

      .hero-text {
        margin-top: 15px;
      }
    }

    .hero-action {
      margin-top: 119px;
    }
  }

}


@media (max-width: 768px) {
  .hero {
    min-height: 586px;
    max-height: 586px;

    &.left {
      flex-direction: column;
      background-position: right;

      .hero-text {
        text-align: center;
      }

      .hero-action {
        display: none;
      }
    }

    .hero-text {
      &.xl-text {
        font-size: 35px;
      }

      &.lg-text, &.md-text {
        font-size: 25px;
      }

      &.sm-text {
        font-size: 15px;
      }
    }

    .hero-content {
      max-width: 100%;
    }
  }
}
