/* Hero Component SCSS */

@import "../../styles/variables.scss";

.hero {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  //Core classes
  .hero-header,
  .hero-content,
  .hero-footer {
    z-index: 0;
  }

  .hero-footer {
    display: flex;
  }

  .hero-text {
    font-size: 45px;
    font-weight: normal;
  }

  .hero-action {
    cursor: pointer;
  }

  //Theme classes
  &.light {
    color: $white;

    .hero-icon {
      color: $white;
    }
  }

  &.dark {
    color: $black;

    .hero-icon {
      color: $blue;
    }
  }

  &.center {
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .hero-header, .hero-content, .hero-footer {
      flex-direction: column;
    }

    .hero-text, .hero-tagline, .hero-media, .hero-action {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.left {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

    .hero-content {
      display: flex;
      flex-direction: column;

      .hero-tagline {
        margin-top: 38px;
      }
    }

    .hero-action {
      margin-top: 119px;
    }
  }

}
