/* Hero Component SCSS */
.shards-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &.hero-header {
    z-index: 2;
  }
  // Hero content and footer
  &.hero-content,
  &.hero-footer {
    z-index: 1;
  }
  // Hero content
  &.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;

    &.center {
      text-align: center;
    }

    .hero-title {
      font-size: 45px;
      font-weight: normal;
      max-width: 675px;
      margin: auto;
    }

  }
  // Hero footer
  &.hero-footer {
    padding: 0.75rem 1.5rem;
    text-align: center;
    margin-bottom: 7%;

    .hero-tagline {
      margin-top: 130px;
      font-size: 20px;
      font-weight: normal;
    }
  }
}
