@import url('https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap');

.contact_section_container {
    height: 100%;
    width: 100%;
    position: relative;
}

.contact_section_img_container {}

.contact_section_img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 70%;
}

.contact_section_heading {
    font-family: 'Poppins', sans-seri;
    font-weight: 500;
    font-size: 2.5rem;
    color: #3180FB;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    height: 0;
    overflow: hidden;
}


.contact_section_form_container {
    position: absolute;
    width: 573px;
    background: white;
    right: 15vw;
    top: 42%;
    border-radius: 10px;
    box-shadow: -1px 3px 20px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
    z-index: 999;
    padding: 0px 0px;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
}

.contact_section_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.group {
    width: calc(100% / 2 - 4%);
    margin: 0 2%;
    position: relative;
}

.group_last_child {
    width: 100%;
}

.contact_section_form label {
    position: absolute;
    top: 7px;
    font: 200 15px Roboto;
    cursor: text;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.contact_section_form input {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0 30px;
    border: none;
    border-bottom: solid 2px black;
    font-size: 15px;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

.contact_section_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset;
}

.contact_section_form input:focus,
.contact_section_form input:valid {
    outline: none;
    border-bottom: solid 2px #3180fb;
}

.contact_section_form input:focus~label,
.contact_section_form input:valid~label {
    top: -10px;
    color: #3180fb;
    font-size: 12px;
}

.asterix {
    color: #3180fb;
}

.contact_form_submit_btn_container {
    width: 100%;
}

.contact_form_submit_btn {
    display: block;
    margin: 10px auto 0 2%;
    border: none;
    border-radius: 45px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #3180fb;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

@keyframes stuckSlideShownH2 {
    from {
        height: 0;
    }

    to {
        height: auto;
    }
}

@keyframes stuckSlideHiddenH2 {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}

@keyframes contactsFormToTop {
    from {
        bottom: 0;
    }

    to {
        top: 0;
    }
}

@keyframes contactsFormToBottom {
    from {
        bottom: inherit;
        top: 0;
    }

    to {
        bottom: 0;
    }
}

@keyframes stuckSlideShownSlideDown {
    from {
        height: 0;
    }

    to {
        height: auto;
    }
}

.contact-title-animation-enter {
    animation-name: stuckSlideShownH2;
    animation-delay: .95s;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.contact-title-animation-exit {
    animation-name: stuckSlideHiddenH2;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.contact-title-animation-enter-done {
    height: auto;
}

.form-slide-animation-enter {
    animation-name: stuckSlideShownSlideDown;
    animation-delay: .95s;
    animation-duration: .3s;
    animation-fill-mode: both;
}

.form-animation-enter {
    animation-name: contactsFormToBottom;
    animation-delay: 1.4s;
    animation-duration: .1s;
    animation-fill-mode: both;
}

.form-animation-exit {
    animation-name: contactsFormToTop;
    animation-delay: 0s;
    animation-duration: .05s;
    animation-fill-mode: both;
}

.form-slide-animation-enter-done,
.form-animation-enter-done {
    height: auto;
    padding: 40px 30px;
}

@media (max-width: 1199px) {
    .contact_section_form_container {
        height: auto;
        padding: 40px 30px;
    }

    .contact_section_heading {
        height: auto;
    }
}

@media (max-width: 767px) {
    .contact_section_form_container {
        width: 100%;
        right: 0;
        box-shadow: none;
    }

    .contact_section_heading {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
    }

    .contact_section_img_container {
        display: none;
    }

    .group {
        width: 100%;
    }
}