
.reviews {
  background-color: #f9fafc;
  padding-top: 100px;
  padding-bottom: 140px;
  height: 100%;

  .opening {
    padding-bottom: 76px;
  }
}

@media (max-width: 768px) {
  .reviews {
    padding-left: 20px;
    padding-right: 20px;
  }
}
