
.faq {
  padding-top: 86px;

  .faq-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;

    .faq-number {
      font-size: 15.6px;
      color: #3c3d41;
      border: solid 1.2px #dddddd;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }

    .faq-question {
      font-size: 13.2px;
      font-weight: bold;
      letter-spacing: 2.4px;
      color: #3c3d41;
    }
  }

  .faq-answer {
    font-size: 1em;
    color: #656b6f;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 67px;
    padding-right: 149px;
  }
}
