@import url('https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap');

.contact_section_container {
    height: 100%;
    width: 100%;
}

.contact_section_img_container {}

.contact_section_img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact_section_heading_container {}

.contact_section_heading {
    font-family: 'Poppins', sans-seri;
    font-weight: 500;
    font-size: 2.5rem;
    color: #3180FB;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}


.contact_section_form_container {
    position: absolute;
    min-width: 573px;
    background: white;
    min-height: 416px;
    right: 7%;
    top: 39%;
    border-radius: 4%;
    box-shadow: -1px 3px 20px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
    z-index: 999;
}