
.expansion-panel {
  background-color: #fff;
  border-top: 1px solid #dddddd;
  position: relative;

  .panel-header {
    height: 100px;
    z-index: 1;
  }

  .panel-body {
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      margin-left: 67px;
      width: 5%;
      padding-top: 20px;
      border-bottom: 1px solid #dddddd;
    }
  }

  .panel-control {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 39px;
  }
}
