
.review-card {
   background-color: #FFFFFF;
   width: 358px;
   height: 502px;
   border-radius: 5px;
   padding: 40px;
   box-shadow: 0 7px 70px 0 rgba(90, 97, 105, 0.1), 0 10px 10px 0 rgba(90, 97, 105, 0.06), 0 4px 8px 0 rgba(90, 97, 105, 0.12), 0 2px 0 0 rgba(90, 97, 105, 0.11);

   .review-content {
    text-align: center;
    color: #374050;

     .review-text {
       font-size: 20px;


       &:before, &:after {
         content: '\201D';
       }
     }

     .reviewer-avatar {
       width: 90px;
       height: 90px;
     }

     .reviewer-name {
       font-size: 22px;
       font-weight: 500;
       padding-top: 17px;
       margin-bottom: 0;
     }

     .reviewer-designation {
       font-size: 17px;
       font-weight: 300;
     }
   }

   .review-stars {
     text-align: center;
     padding-bottom: 35px;
   }
}
