
.review-card {
    padding-left: 135px;
    padding-right: 135px;

   .review-content {
    text-align: center;
    color: #374050;

      .review-text, .reviewer-name, .reviewer-designation {
        margin: 0 auto;
      }

     .review-text {
       font-size: 2.438em;
       letter-spacing: -0.61px;
       line-height: normal;
       color: #3c3d41;
       padding-bottom: 48px;
       padding-top: 24px;


       &:after {
         content: "";
         display: block;
         margin: 0 auto;
         width: 120px;
         padding-top: 20px;
         border-bottom: 1px solid #eeeeee;
       }
     }

     .reviewer-name {
       font-size: 13px;
       font-weight: bold;
       text-transform: uppercase;
       letter-spacing: 2.36px;
       color: #3c3d41;
       padding-top: 24px;
     }

     .reviewer-designation {
       font-size: 16px;
       font-weight: normal;
       color: #656b6f;
       padding-top: 7px;
     }

     .reviewer-avatar {
       width: 60px;
       height: 60px;
       margin: 0 auto;
     }
   }

   .review-quote {
     text-align: center;

     img {
       margin: 0 auto;
     }
   }
}
