
.dynamic-carousel {

  &.full {
    margin: 0;
    padding: 0;
  }

  .media-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .media-caption {
      padding-top: 10px;
    }

    .media-image {
      margin: 0 auto;
      max-height: 500px;
    }
  }

  .slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .media-action {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: black;
    opacity: 0.5;
    z-index: 100;
  }

  .slick-list {
    padding-bottom: 25px;
  }

  .slick-arrow {
    z-index: 100;
    &.slick-prev, &.slick-next {
      width: 86px;
      height: 86px;
    }

    &.slick-next {
      right: 0px;
      top: 100%;
    }

    &.slick-prev {
      left: 0px;
      top: 100%;
    }
  }
}
