
.section {
  padding-top: 150px;

  &.white {
    background-color: #FFFFFF;
  }

  &.grey {
    background-color: #f9fafc;
  }

  &.bottom-gutter {
    padding-bottom: 150px;
  }

  .strategy-capabilities {
    margin-top: 80px;
  }
}
