
.feature {
  display: flex;

  .feature-title {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.36px;
  }

  .feature-description {
    font-size: 16px;
  }

  &.top-left {
    flex-direction: column;
    justify-content: flex-start;
  }

  &.top-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &.left {
    flex-direction: row;
    align-items: flex-start;

    .feature-media {
      padding-top: 15px;
      padding-right: 30px;
    }
  }

  &.light {
    .feature-title {
      color: #ffffff;
    }
    .feature-description {
      color: #ffffff;
      opacity: 0.7;
    }
  }

  &.dark {
    .feature-title {
      color: #3c3d41;
    }
    .feature-description {
      color: #656b6f;
    }
  }




}
