
.feature {
  display: flex;

  &.top-left {
    flex-direction: column;
    justify-content: flex-start;
  }

  &.top-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &.left {
    flex-direction: row;
    align-items: flex-start;

    .feature-media {
      padding-top: 15px;
      padding-right: 30px;
    }
  }


  .feature-title {
    font-size: 13px;
    font-weight: bold;
    color: #3c3d41;
  }

  .feature-description {
    font-size: 16px;
    color: #656b6f;
  }

}
