.page-index {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  width: 29px;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  top: calc(50% + 40px);
  transform: translateY(-50%);
}

.index-item {
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  color: #374050;
  font-size: 20px;
  padding: 0;
  margin-bottom: 22px;
  cursor: pointer;
}

.index__selected {
  color: #3180fb;
}

.index-separator {
  background-color: #3180fb;
  width: 2px;
  height: 88px;
  border-radius: 1px;
  margin-bottom: 22px;
}

.index-item-contact {
  transform: translateY(100%) rotate(90deg);
}

@media (max-width: 1199px) {
	.page-index {
		display: none;
	}
}