.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@font-face {
	font-family: ikarosFont;
	src: url(fonts/Ikaros-Regular.otf);
}

* {
	font-family: 'Poppins', sans-serif;
}

.main-enter {
	transform: scale(0.9);
}

.main-enter-active {
	transform: scale(0.9);
	transition: transform 300ms;
}

.main-exit {
	transform: scale(0.9);
	transition: transform 300ms;
}

.main__exited {
	transform: scale(0.9);
}

.pixoul_button {
	cursor: pointer;
}

.blue_line_under_title {
	position: relative;
	background: #3180FB;
	width: 170px;
	height: 5px;
	margin-top: 10%;
	left: 0;
	border-radius: 15px;
}

#first {
	overflow: hidden;
	color: #374050;
}

.bg-image {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.first-content {
	left: 40%;
	/* TODO: check with Devon to see if they want this centered...mockup currently is slightly left aligned*/
	transform: translate(-50%, -50%);
	position: absolute;
}

.first-content button {
	background: transparent;
	border: none;
	align-self: flex-start;
	margin-top: 10%;
}

.first-title {
	font-size: 45px;
	font-weight: 500;
	flex: 0.9;
	overflow: hidden;
	margin-bottom: 90px;
	animation-duration: .75s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.first-description {
	font-size: 25px;
	font-weight: 300;
	max-width: 455px;
	overflow: hidden;
	white-space: nowrap;
	animation-duration: .75s;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.section {
	width: 100%;
	padding: 0 80px;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	top: calc(322 / 843 * 100%);
	left: 79px;
	position: absolute;
	z-index: 2;
	width: 281px;
}

.Tilt {
	position: absolute;
	right: 136px;
	top: calc(50% - 553px / 2);
	max-width: 894px;
	width: 90%;
	height: 553px;
	transform-style: preserve-3d;
}

.Tilt-inner {
	transform: translateZ(50px);
	top: -62px;
	left: -49px;
}

.bg-img {
	width: 100%;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.label {
	font-size: 20px;
	font-weight: 500;
	color: #2EC986;
	font-family: 'Poppins', sans-serif;
	height: 0;
	overflow: hidden;
}

.title {
	font-size: 62.25px;
	color: #374050;
	margin-top: 38px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	margin-bottom: 4px;
	overflow: hidden;
	height: 0;
}

.description {
	font-weight: 500;
}

.lucida-title {
	font-family: "Lucida Grande";
	font-weight: 400;
}

#title-01 {
	font-family: ikarosFont;
}

#content-04 .title {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0px;
}

#content-04 .description {
	margin-left: 35px;
	font-size: 25px;
	margin-bottom: 4px;
	margin-top: -10px;
}

#content-05 .title {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 16px;
}

.subtitle {
	font-size: 20px;
	color: #374050;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	width: 0;
	overflow: hidden;
	white-space: nowrap;
}

#content-02 {
	max-width: 294px;
}

.watermark {
	font-size: 522px;
	color: #374050;
	opacity: 0.1;
	position: absolute;
	line-height: 689px;
	top: 121px;
	left: -210px;
}

/* Animation */

@keyframes stuckSlideShownH2 {
	from {
		height: 0;
	}

	to {
		height: 100%;
	}
}

@keyframes stuckSlideHiddenH2 {
	from {
		height: 100%;
	}

	to {
		height: 0;
	}
}

@keyframes stuckSlideShownH3 {
	from {
		height: 0;
	}

	to {
		height: 100%;
	}
}

@keyframes stuckSlideHiddenH3 {
	from {
		height: 100%;
	}

	to {
		height: 0;
	}
}

@keyframes stuckSlideShownH4 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes stuckSlideHiddenH4 {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}

@keyframes mainSliderH2Show {
	from {
		transform: translateY(-20vh);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mainSliderH2Hide {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-20vh);
	}
}

@keyframes mainSliderTextShow {
	from {
		transform: translateX(-250px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes mainSliderTextHide {
	from {
		transform: translateX(0);
		opacity: 1;
	}

	to {
		transform: translateX(-250px);
		opacity: 0;
	}
}

.mainTitle-animation-enter {
	animation-name: mainSliderH2Show;
	animation-delay: .5s;
}

.mainTitle-animation-exit {
	animation-name: mainSliderH2Hide;
}

.mainText-animation-enter {
	animation-name: mainSliderTextShow;
	animation-delay: .5s;
}

.mainText-animation-exit {
	animation-name: mainSliderTextHide;
}

.label-animation-enter {
	animation-name: stuckSlideShownH3;
	animation-duration: .1s;
	animation-fill-mode: both;
}

.label-animation-exit {
	animation-name: stuckSlideHiddenH3;
	animation-duration: .1s;
	animation-delay: .25s;
	animation-fill-mode: both;
}

.title-animation-enter {
	animation-name: stuckSlideShownH2;
	animation-delay: .05s;
	animation-duration: .3s;
	animation-fill-mode: both;
}

.title-animation-exit {
	animation-name: stuckSlideHiddenH2;
	animation-duration: .3s;
	animation-fill-mode: both;
}

.subtitle-animation-enter {
	animation-name: stuckSlideShownH4;
	animation-delay: .35s;
	animation-duration: .6s;
	animation-fill-mode: both;
}

.subtitle-animation-exit {
	animation-name: stuckSlideHiddenH4;
	animation-delay: .3s;
	animation-duration: .6s;
	animation-fill-mode: both;
}

.label-animation-enter-done,
.title-animation-enter-done {
	height: 100%;
}

.subtitle-animation-enter-done {
	width: max-content;
}

.mainTitle-animation-enter-done {
	transform: translateY(0);
}

.mainText-animation-enter-done {
	transform: translateX(0);
	opacity: 1;
}

/* Animation */

/* Responsive */ 

@media (max-width: 1199px) {
	.section {
    padding: 0 20px;
	}
	.Tilt {
		right: 5%;
	}
}

@media (max-width: 767px) {
	.Tilt {
		position: relative;
		width: 100%;
		right: 0;
	}
}
/* Responsive */