.parallel-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .parallel-content {

    &.multiple-media {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .parallel-media {
        .parallel-image {
          object-fit: contain;
          max-width: 400px;
          max-height: 400px;
        }
      }

    }


  }

  .parallel-media {
    &.left {
      align-self: flex-start;
    }

    &.right {
      align-self: flex-end;
    }
  }

  .parallel-text {
    margin-bottom: 25px;
    font-weight: normal;
  }

  .parallel-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .parallel-item {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      padding-top: 35px;
      max-width: 260px;

      .parallel-item-title {
        color: #3180fb;
        font-size: 22px;
        margin-bottom: 15px;
      }

      .parallel-item-tagline {
        color: #374050;
        font-size: 18px;
      }
    }
  }
}
