
.client-detail {

  .detail-header {
    background-color: #3180fb;
    color: white;
    height: 277px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 150px;

    .detail-industry {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .detail-action {
      color: white;
    }
  }


  .detail-content {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 90px;

    .detail-side {
      min-width: 500px;
    }

    .detail-text {
      font-size: 35px;
      font-weight: 500;
      color: #374050;
    }
  }

  .detail-list {
    color: #374050;
    margin-bottom: 38px;

    .list-title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 7px;
    }

    .list-item{
      font-size: 19px;
      font-weight: normal;
    }
  }
}
