
$menu-primary: #ffffff;
$menu-secondary: #374050;
$menu-item-font-size: 35px;
$menu-item-active-color: #3180fb;

.menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;

  &.lg-device {
    .menu-container {
      padding-left: 150px;
      padding-right: 150px;

      .menu-body {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 120px;
        padding-top: 120px;
      }

      .menu-footer {
        padding-right: 25px;
        padding-top: 250px;
      }

      .menu-brand {
        padding-top: 81px;
        padding-left: 58px;
      }
    }
  }

  .menu-container {
    height: 100%;
    width: 100%;

    &.background {
      background: linear-gradient(100deg, #{$menu-primary} 60%, #{$menu-secondary} 40%);
      color: #{$menu-primary};
    }

    .menu-body {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .menu-close {
      position: fixed;
      right: 150px;
      top: 27px;
      background: transparent;
      border: none;
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;

      .menu-item {
        font-size: #{$menu-item-font-size};
        font-weight: bold;

        .menu-link {
          text-decoration: none;
          color: #{$menu-secondary};
          transition: opacity 0.6s;
          padding-left: 14px;

          &:hover {
            opacity: 0.7;
          }

          &.link-active {
            border-left: 4px solid #{$menu-item-active-color};
            padding-left: 10px;
          }
        }

      }
    }

    .menu-footer {
      list-style: none;
      margin: 0;
      padding: 0;

      .footer-item {
        padding-top: 15px;

        .footer-link {
          color: #{$menu-primary};
          font-size: 15px;
          font-weight: normal;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
            transition: opacity .6s;
          }
        }

      }
    }

  }

}
