@import "../../styles/variables.scss";

.client-summary {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;

  .client-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 150px;
    padding-right: 80px;
    background-color: $white;

    .client-tagline {
      font-size: 22px;
    }

    .client-logo {
      max-width: 200px;
      margin-bottom: 10px;
    }

    .client-action {
      color: $blue;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        opacity: 0.4;
        transition: opacity .6s;
      }
    }
  }

  .client-media {
     img {
       width: 910px;
       height: 100vh;
       object-fit: cover;
     }
  }
}
